html {
    min-width: 600px;
}

/*#region Body */
body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(#2d3e50, #253041);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/*#endregion */

/*#region Menu*/
.menu {
    background: #171a21;
    padding: 20px;
    box-shadow: 10px #00000080;
    text-align: center;
}

.menu nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.menu nav ul li a {
    text-decoration: none;
    color: #66c0f4;
    padding: 15px;
    border-radius: 5px;
}

.menu nav ul li {
    display: inline;
}

.menu nav ul li a:hover {
    color: #ffffff;
    background: #66c0f433;
}

.menu h1 {
    color: #e5eaee;
    font-size: 30px;
    margin-top: 15px;
}

/*#endregion */

/* #region Accueil */
.partie {
    background-color: #2a475e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px #00000080;
}

.partie h2 {
    color: #66c0f4;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #66c0f4;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #417a9b;
}

/* #endregion */

/* #region Contenu */
.contenu {
    max-width: 800px;
    margin: 20px auto;
    background: #2a475e;
    padding: 20px;
    box-shadow: 15px #00000080;
    border-radius: 8px;
    color: #ffffff;
}

.contenu img {
    width: 100%;
    border-radius: 8px;
    border: 3px #66c0f4;
}

figcaption {
    text-align: center;
}

/* #endregion */